$color-principal: #72efdd;
$color-secundario: #7400b4;
$color-fondo: #4b0077;
$color-oscuro: #454545;
$color-blanco: #e9e9e9;
$tipografia-titulos: "Rubik", sans-serif;
$tipografia-subtitulos: "sansita", serif;
$tipografia-parrafos: "Molengo", serif;
