$color-main: #72efdd;
$color-secondary: #7400b4;
$color-background: #4b0077;
$color-dark: #454545;
$color-white: #e9e9e9;
$typography-tittles: "Rubik", sans-serif;
$typography-subtitles: "sansita", serif;
$typography-text: "Molengo", serif;
