.UserIconLogin {
  display: flex;
  width: 100%;
  justify-content: center;
  align-items: center;
  margin-top: 4rem;

  .UserIconLogin__icon {
    color: $color-blanco;
    padding: 0.5rem;
    border: solid 4px $color-blanco;
    border-radius: 100px;
  }
}
