#svg {
  min-height: 25rem;
}
@keyframes pathAnim-1 {
  0% {
    d: path(
      "M 0,500 C 0,500 0,200 0,200 C 93.20574162679424,211.2918660287081 186.41148325358847,222.58373205741626 286,225 C 385.5885167464115,227.41626794258374 491.5598086124403,220.95693779904306 593,215 C 694.4401913875597,209.04306220095694 791.3492822966506,203.5885167464115 881,208 C 970.6507177033494,212.4114832535885 1053.043062200957,226.688995215311 1145,227 C 1236.956937799043,227.311004784689 1338.4784688995214,213.6555023923445 1440,200 C 1440,200 1440,500 1440,500 Z"
    );
  }
  25% {
    d: path(
      "M 0,500 C 0,500 0,200 0,200 C 93.00478468899519,215.4736842105263 186.00956937799037,230.94736842105263 282,229 C 377.9904306220096,227.05263157894737 476.9665071770336,207.68421052631578 582,204 C 687.0334928229664,200.31578947368422 798.1244019138755,212.31578947368422 879,211 C 959.8755980861245,209.68421052631578 1010.5358851674641,195.05263157894734 1099,191 C 1187.4641148325359,186.94736842105266 1313.732057416268,193.47368421052633 1440,200 C 1440,200 1440,500 1440,500 Z"
    );
  }
  50% {
    d: path(
      "M 0,500 C 0,500 0,200 0,200 C 116.29665071770336,212.97607655502392 232.59330143540672,225.95215311004785 318,219 C 403.4066985645933,212.04784688995215 457.92344497607667,185.16746411483254 562,178 C 666.0765550239233,170.83253588516746 819.7129186602871,183.377990430622 913,188 C 1006.2870813397129,192.622009569378 1039.2248803827752,189.32057416267943 1117,190 C 1194.7751196172248,190.67942583732057 1317.3875598086124,195.33971291866027 1440,200 C 1440,200 1440,500 1440,500 Z"
    );
  }
  75% {
    d: path(
      "M 0,500 C 0,500 0,200 0,200 C 93.21531100478472,190.41148325358853 186.43062200956945,180.82296650717703 276,189 C 365.56937799043055,197.17703349282297 451.4928229665071,223.11961722488036 561,222 C 670.5071770334929,220.88038277511964 803.5980861244019,192.69856459330148 893,192 C 982.4019138755981,191.30143540669852 1028.1148325358852,218.08612440191388 1112,224 C 1195.8851674641148,229.91387559808612 1317.9425837320573,214.95693779904306 1440,200 C 1440,200 1440,500 1440,500 Z"
    );
  }
  100% {
    d: path(
      "M 0,500 C 0,500 0,200 0,200 C 93.20574162679424,211.2918660287081 186.41148325358847,222.58373205741626 286,225 C 385.5885167464115,227.41626794258374 491.5598086124403,220.95693779904306 593,215 C 694.4401913875597,209.04306220095694 791.3492822966506,203.5885167464115 881,208 C 970.6507177033494,212.4114832535885 1053.043062200957,226.688995215311 1145,227 C 1236.956937799043,227.311004784689 1338.4784688995214,213.6555023923445 1440,200 C 1440,200 1440,500 1440,500 Z"
    );
  }
}
.path-3 {
  animation: pathAnim-3 4s;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
}
@keyframes pathAnim-3 {
  0% {
    d: path(
      "M 0,500 C 0,500 0,400 0,400 C 118.57416267942583,405.1674641148325 237.14832535885165,410.334928229665 324,406 C 410.85167464114835,401.665071770335 465.98086124401914,387.8277511961723 543,390 C 620.0191387559809,392.1722488038277 718.9282296650717,410.35406698564594 822,413 C 925.0717703349283,415.64593301435406 1032.3062200956938,402.75598086124404 1136,398 C 1239.6937799043062,393.24401913875596 1339.846889952153,396.62200956937795 1440,400 C 1440,400 1440,500 1440,500 Z"
    );
  }
  25% {
    d: path(
      "M 0,500 C 0,500 0,400 0,400 C 122.09569377990434,386.8516746411483 244.19138755980867,373.70334928229664 335,375 C 425.8086124401913,376.29665071770336 485.3301435406697,392.0382775119617 555,395 C 624.6698564593303,397.9617224880383 704.4880382775121,388.14354066985646 815,380 C 925.5119617224879,371.85645933014354 1066.7177033492821,365.3875598086124 1176,369 C 1285.2822966507179,372.6124401913876 1362.641148325359,386.3062200956938 1440,400 C 1440,400 1440,500 1440,500 Z"
    );
  }
  50% {
    d: path(
      "M 0,500 C 0,500 0,400 0,400 C 79.63636363636365,385.88516746411483 159.2727272727273,371.77033492822966 254,371 C 348.7272727272727,370.22966507177034 458.5454545454545,382.8038277511962 559,395 C 659.4545454545455,407.1961722488038 750.5454545454545,419.0143540669857 861,418 C 971.4545454545455,416.9856459330143 1101.2727272727275,403.1387559808613 1201,398 C 1300.7272727272725,392.8612440191387 1370.3636363636363,396.43062200956933 1440,400 C 1440,400 1440,500 1440,500 Z"
    );
  }
  75% {
    d: path(
      "M 0,500 C 0,500 0,400 0,400 C 129.17703349282297,420.25837320574163 258.35406698564594,440.51674641148327 339,433 C 419.64593301435406,425.48325358851673 451.7607655502394,390.1913875598086 527,378 C 602.2392344497606,365.8086124401914 720.602870813397,376.7177033492824 825,379 C 929.397129186603,381.2822966507176 1019.8277511961724,374.9377990430622 1120,377 C 1220.1722488038276,379.0622009569378 1330.0861244019138,389.5311004784689 1440,400 C 1440,400 1440,500 1440,500 Z"
    );
  }
  100% {
    d: path(
      "M 0,500 C 0,500 0,400 0,400 C 118.57416267942583,405.1674641148325 237.14832535885165,410.334928229665 324,406 C 410.85167464114835,401.665071770335 465.98086124401914,387.8277511961723 543,390 C 620.0191387559809,392.1722488038277 718.9282296650717,410.35406698564594 822,413 C 925.0717703349283,415.64593301435406 1032.3062200956938,402.75598086124404 1136,398 C 1239.6937799043062,393.24401913875596 1339.846889952153,396.62200956937795 1440,400 C 1440,400 1440,500 1440,500 Z"
    );
  }
}
.path-2 {
  animation: pathAnim-2 4s;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
}
@keyframes pathAnim-2 {
  0% {
    d: path(
      "M 0,500 C 0,500 0,300 0,300 C 76.12440191387557,312.4593301435407 152.24880382775115,324.91866028708137 246,313 C 339.75119617224885,301.08133971291863 451.12918660287085,264.78468899521533 562,265 C 672.8708133971292,265.21531100478467 783.2344497607655,301.9425837320574 885,317 C 986.7655502392345,332.0574162679426 1079.9330143540672,325.444976076555 1171,319 C 1262.0669856459328,312.555023923445 1351.0334928229663,306.2775119617225 1440,300 C 1440,300 1440,500 1440,500 Z"
    );
  }
  25% {
    d: path(
      "M 0,500 C 0,500 0,300 0,300 C 113.36842105263153,289.82775119617224 226.73684210526307,279.65550239234454 317,277 C 407.26315789473693,274.34449760765546 474.4210526315791,279.20574162679424 577,279 C 679.5789473684209,278.79425837320576 817.578947368421,273.5215311004785 910,282 C 1002.421052631579,290.4784688995215 1049.2631578947369,312.70813397129183 1130,318 C 1210.7368421052631,323.29186602870817 1325.3684210526317,311.6459330143541 1440,300 C 1440,300 1440,500 1440,500 Z"
    );
  }
  50% {
    d: path(
      "M 0,500 C 0,500 0,300 0,300 C 96.94736842105263,287.6267942583732 193.89473684210526,275.2535885167464 299,285 C 404.10526315789474,294.7464114832536 517.3684210526316,326.6124401913875 624,331 C 730.6315789473684,335.3875598086125 830.6315789473682,312.29665071770336 909,308 C 987.3684210526318,303.70334928229664 1044.1052631578948,318.20095693779905 1129,320 C 1213.8947368421052,321.79904306220095 1326.9473684210525,310.8995215311005 1440,300 C 1440,300 1440,500 1440,500 Z"
    );
  }
  75% {
    d: path(
      "M 0,500 C 0,500 0,300 0,300 C 121.19617224880383,289.86602870813397 242.39234449760767,279.73205741626793 324,286 C 405.60765550239233,292.26794258373207 447.62679425837325,314.9377990430622 544,314 C 640.3732057416267,313.0622009569378 791.1004784688996,288.5167464114832 908,279 C 1024.8995215311004,269.4832535885168 1107.9712918660287,274.9952153110048 1191,281 C 1274.0287081339713,287.0047846889952 1357.0143540669856,293.5023923444976 1440,300 C 1440,300 1440,500 1440,500 Z"
    );
  }
  100% {
    d: path(
      "M 0,500 C 0,500 0,300 0,300 C 76.12440191387557,312.4593301435407 152.24880382775115,324.91866028708137 246,313 C 339.75119617224885,301.08133971291863 451.12918660287085,264.78468899521533 562,265 C 672.8708133971292,265.21531100478467 783.2344497607655,301.9425837320574 885,317 C 986.7655502392345,332.0574162679426 1079.9330143540672,325.444976076555 1171,319 C 1262.0669856459328,312.555023923445 1351.0334928229663,306.2775119617225 1440,300 C 1440,300 1440,500 1440,500 Z"
    );
  }
}
